
<link rel="stylesheet" href="css/css/pm.css?ver={{cssVer}}">

<div class="head">

    <div class="logo">

        <img src="img/logo2.png" alt="" width="54">

        <span>已售处方管理</span>

    </div>

	<div class="goBack" ui-sref="index" >返回首页</div>
	
</div>

<div class="con">

    <div class="conHead">

        <div class="group">
			<div class="row">
				<!--input type="text" placeholder="请输入诊断号" ng-model="searchopt.number" ng-keyup="enterEvent($event)"/>
				<input type="text" placeholder="请输入医生姓名" ng-model="searchopt.doctorname" />
				<input type="text" placeholder="请输入患者姓名" ng-model="searchopt.patientname" /-->
				<label>日期</label><input type="date" ng-model="searchopt.startdate" />
				<label>-</label><input type="date" ng-model="searchopt.enddate" />
				<!--label>状态</label><select ng-model="searchopt.state">
					<option value="生成处方">生成处方</option>
					<option value="已领药">已领药</option>
				</select-->
				<div class="submit" ng-click="getPrescriptionByFirstPage()">查询</div>
			</div>
        </div>
    </div>

    <div class="conBody">

        <table>
            <thead>
            <tr>
			    <th>处方号</th>
                <th>医院</th>
                <th>医生姓名</th>
                <th>医生科室</th>
				<th>患者姓名</th>
                <th>患者性别</th>
                <th>年龄</th>
                <th>患者手机号</th>
				<th>开方日期</th>
				<th colspan="2">操作</th>
            </tr>
            </thead>
            <tbody>
			<tr ng-repeat="x in prescriptionList">
				<td>{{x.sn}}</td>
				<td>{{x.hospitalname}}</td>
				<td>{{x.doctorname}}</td>
				<td>{{x.department}}</td>
				<td>{{x.patientname}}</td>
				<td>{{x.patientsex}}</td>
				<td>{{x.patientage}}</td>
				<td>{{x.patientphone}}</td>
				<td>{{format(x.createtime,"yyyy-MM-dd")}}</td>
				<td><img src="img/print.png" ng-click="print(x.id,$index)" width="16px"></td>
				<td><span ng-click="refund(x.id,$index)">退货</span></td>
            </tr>
            </tbody>
        </table>
		<div>
			<div class="button" ng-if="prescriptionList.length==20" ng-click="getPrescriptionByNextPage()">下一页</div>
			<div class="button" ng-if="searchopt.pageindex!=1 && prescriptionList.length!=0" ng-click="getPrescriptionByPrePage()">上一页</div>
		<div>
    </div>

</div>


