<link rel="stylesheet" href="css/css/modifyPatient.css?ver={{cssVer}}">

<wheader title="编辑患者"></wheader>

<div class="con">

	<div class="weui-cells weui-cells_from">
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">姓名</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" placeholder="请输入姓名" ng-model="patientObj.name"></input>
			</div>
		</div>
		<div class="weui-cell weui-cell_select weui-cell_select-after">
			<div class="weui-cell__hd">
				<label class="weui-label">性别</label>
			</div>
			<div class="weui-cell__bd">
				<select class="weui-select" placeholder="请选择性别" ng-model="patientObj.sex">
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">身份证号</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" maxlength="18" placeholder="请输入身份证号" ng-model="patientObj.idcardnum"></input>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">手机号</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="tel" maxlength="11" placeholder="请输入联系手机号" ng-model="patientObj.phone"></input>
			</div>
		</div>
	</div>
	
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" ng-click="add(patientObj.id, patientObj.name, patientObj.sex, patientObj.idcardnum, patientObj.phone)">提交</a>
	</div>
</div>

