# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
zipkin/target/classes/META-INF/maven/com.ly/zipkin/pom.properties
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.xml
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.properties
parent/user/target/classes/META-INF/MANIFEST.MF
parent/user/target/classes/application.yml
parent/user/target/classes/application.yml
parent/user/target/classes/META-INF/MANIFEST.MF
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.properties
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.xml
zipkin/target/classes/META-INF/maven/com.ly/zipkin/pom.properties
parent/user/target/classes/application.yml
parent/user/target/classes/META-INF/MANIFEST.MF
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.properties
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.xml
zipkin/target/classes/META-INF/maven/com.ly/zipkin/pom.properties
parent/user/target/classes/META-INF/MANIFEST.MF
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.properties
parent/user/target/classes/META-INF/maven/com.ly.service/user/pom.xml
*.prefs
parent/system/.project
parent/system/.classpath
*.prefs
parent/drug/.classpath
parent/common/.classpath
*.prefs
