<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.service.mapper.StoreDrugMapper" >
		
	<resultMap id="StoreAndDrugInfo" type="com.ly.service.context.StoreAndDrugInfo" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
  	    <result column="address" property="address" jdbcType="VARCHAR" />
  	    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
  	    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
  	    <result column="distance" property="distance" jdbcType="INTEGER" />
  	    <result column="drugListStr" property="drugListStr" jdbcType="VARCHAR" />
  	</resultMap>

	<select id="getStoreByDrugs" resultMap="StoreAndDrugInfo">
		SELECT t_search_result.id, t_search_result.name, t_search_result.address, t_search_result.longitude, t_search_result.latitude , ROUND(
	        6378.138 * 2 * ASIN(
	            SQRT(
	                POW(
	                    SIN(
	                    	(
	                          #{lat,jdbcType=DOUBLE} * PI() / 180 - t_search_result.latitude * PI() / 180
	                        ) / 2
	                    ),
	                    2
	                ) + COS( #{lat,jdbcType=DOUBLE} * PI() / 180) * COS( t_search_result.latitude * PI() / 180) * POW(
	                    SIN(
	                        (
	                            #{lon,jdbcType=DOUBLE} * PI() / 180 - t_search_result.longitude * PI() / 180
	                        ) / 2
	                    ),
	                    2
	                )
	            )
	        ) * 1000
	    ) AS distance, CONCAT("[",GROUP_CONCAT(CONCAT("{","\"drugname\":\"",t_drug.drugname,"\",\"standard\":\"",t_drug.standard,"\",\"price\":",IFNULL(t_search_result.price,0),",\"state\":",IFNULL(t_search_result.state,1),"}")),"]") AS drugListStr FROM t_drug LEFT JOIN
(SELECT t_store_drug.drugid, t_store_drug.price, t_store_drug.state, t_store.id, t_store.name, t_store.address, t_store.longitude, t_store.latitude FROM t_store_drug LEFT JOIN t_store ON t_store_drug.storeid = t_store.id WHERE t_store_drug.drugid in ${drugids} AND t_store_drug.state = 1 AND t_store.latitude BETWEEN #{lat,jdbcType=DOUBLE}-0.1 AND #{lat,jdbcType=DOUBLE}+0.1 AND t_store.longitude BETWEEN #{lon,jdbcType=DOUBLE}-0.1 AND #{lon,jdbcType=DOUBLE}+0.1) AS t_search_result ON t_drug.id = t_search_result.drugid WHERE t_drug.id in ${drugids} GROUP BY t_search_result.id ORDER BY distance ASC LIMIT #{size,jdbcType=INTEGER}
	</select>
	
</mapper>