* {
  margin: 0;
  padding: 0;
}

.con {
  padding-top: 48px;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.welcome{
  text-align: -webkit-center;
  margin: 10 auto;
  font-size: 20px;
  display: block;
}

.imgbutton{
  margin: 10 0px;
  text-align: -webkit-center;
}

.imgbutton img{

}

.imgbutton span {
  display: block;
  text-align: -webkit-center;
  font-size: 24px;
}