* {
  margin: 0;
  padding: 0;
}

.con {
  /**width: 794px;*/
  margin-top: 48px;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.signature_area {
	width: 280px;
	height: 140px;
	border: 1px dashed #000;
	background-color: white;
    /* text-align: -webkit-center; */
    margin: 0 auto 20 auto;
}

.signature_area img {
	width: 280px;
	height: 140px;
}