<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.service.mapper.SalesRecordMapper" >
		
	<!--resultMap id="myRecord" type="com.ly.service.entity.SalesRecord" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="doctorid" property="doctorid" jdbcType="INTEGER" />
	    <result column="hospitalid" property="hospitalid" jdbcType="INTEGER" />
	    <result column="hospitalname" property="hospitalname" jdbcType="VARCHAR" />
	    <result column="userid" property="userid" jdbcType="INTEGER" />
	    <result column="sn" property="sn" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="INTEGER" />
	    <result column="department" property="department" jdbcType="VARCHAR" />
	    <result column="diagnosis" property="diagnosis" jdbcType="VARCHAR" />
	    <result column="patientname" property="patientname" jdbcType="VARCHAR" />
	    <result column="patientage" property="patientage" jdbcType="VARCHAR" />
	    <result column="patientsex" property="patientsex" jdbcType="VARCHAR" />
	    <result column="patientphone" property="patientphone" jdbcType="VARCHAR" />
	    <result column="doctorname" property="doctorname" jdbcType="VARCHAR" />
	    <result column="patientname" property="patientname" jdbcType="VARCHAR" />
	    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	    <result column="zynum" property="zynum" jdbcType="INTEGER" />
	    <result column="zyusage" property="zyusage" jdbcType="VARCHAR" />
	    <result column="zysingledose" property="zysingledose" jdbcType="VARCHAR" />
	    <result column="zyfrequence" property="zyfrequence" jdbcType="VARCHAR" />
	    <result column="zymode" property="zymode" jdbcType="VARCHAR" />
  	</resultMap-->

	<select id="getSalesRecordForRefund" resultType="com.ly.service.entity.SalesRecord">
		SELECT * FROM t_sales_record WHERE t_sales_record.drugid = #{drugid, jdbcType=INTEGER} AND t_sales_record.storeid = #{storeid, jdbcType=INTEGER} AND t_sales_record.prescriptionid = #{pid, jdbcType=BIGINT} AND t_sales_record.num > 0 AND(t_sales_record.num - t_sales_record.refundnum) > 0 ORDER BY t_sales_record.price
	</select>
	
</mapper>