<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.DrugMapper" >
		
	<resultMap id="ShortDrugInfo" type="com.yyg.eprescription.entity.ShortDrugInfo" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="showname" property="showname" jdbcType="VARCHAR" />
  	</resultMap>

	<select id="getDrugsByKeys" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and iszy = 1 and (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>
	
	<select id="getZyDrugsByKeys" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and iszy = 2 and (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>

	<select id="getDrugsByKeysWithoutID" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and iszy = 1 and id != #{myid,jdbcType=INTEGER} AND (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>
	
	<select id="getZyDrugsByKeysWithoutID" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and iszy = 2 and  id != #{myid,jdbcType=INTEGER} AND (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>

	<select id="getDrugByTag" resultMap="ShortDrugInfo">
		SELECT t_drug.id, CONCAT(drugname,'--',standard,'--',company) as showname from t_drug LEFT JOIN t_drug_tag_map ON t_drug.id = t_drug_tag_map.drugid LEFT JOIN t_drug_tag ON t_drug_tag.id = t_drug_tag_map.tagid WHERE t_drug_tag.tag = #{tag, jdbcType=VARCHAR} and iszy = 1;
	</select>
	
	<select id="getZyDrugByTag" resultMap="ShortDrugInfo">
		SELECT t_drug.id, CONCAT(drugname,'--',standard,'--',company) as showname from t_drug LEFT JOIN t_drug_tag_map ON t_drug.id = t_drug_tag_map.drugid LEFT JOIN t_drug_tag ON t_drug_tag.id = t_drug_tag_map.tagid WHERE t_drug_tag.tag = #{tag, jdbcType=VARCHAR} and iszy = 2;
	</select>
</mapper>