* {
  margin: 0;
  padding: 0;
}

.tab_hide {
  display : none;
}	

.con {
  padding-top: 48px; /*空出头部的位置*/
  padding-bottom: 48px;/*空出底部的位置*/
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
}

.plist .pitem {
  margin: 0 0 30 0px;/*留出卡片的间距*/
}

.patientlist .pitem {
  margin: 0 0 30 0px;/*留出卡片的间距*/
}

.article_list{
  position: relative;
  overflow: auto;
  height: 100%;
  background-color: #fff;
  /**-webkit-backface-visibility: none;
  -webkit-overflow-scrolling: touch;*/
}

.article_item{
  padding: 5 20px;
  background-color: white;
  position: relative;
}

.article_item .article_title{
  font-size: 20px;
  font-weight: 540;
  margin: 5 0px;
}

.article_item img{
  height: 100px;
}

.article_item::after{
  content: " ";
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}

.article_item span{
  margin: 3px;
}