* {
  margin: 0;
  padding: 0;
}
.head {
  /**position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 38px;*/
  text-align: -webkit-center;
}
.head .logo {
  margin: 50 0px;
}

.foot {
  position: relative;
  bottom: -20px;
  text-align: -webkit-center;
}

.foot div{
  font-size: 14px;
}
