<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.service.mapper.ArticleMapper" >
		
	<resultMap id="articleitem" type="com.ly.service.entity.Article" >
	    <id column="articleid" property="articleid" jdbcType="INTEGER" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="piclist" property="piclist" jdbcType="VARCHAR" typeHandler="com.ly.service.typehandler.JSONArrayHandler"/>
	    <result column="source" property="source" jdbcType="VARCHAR" />
	    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  	</resultMap>

	<select id="getArticleList" resultMap="articleitem">
		SELECT articleid, title, piclist, source, createtime From t_article Order BY articleid DESC LIMIT #{offset, jdbcType=INTEGER},#{size,jdbcType=INTEGER}  
	</select>
	
</mapper>