<link rel="stylesheet" href="css/css/header.css?ver={{cssVer}}">
<link rel="stylesheet" href="css/css/index.css?ver={{cssVer}}">

<div class="header">
    <div class="header_title">首页</div>
</div>

<div class="con">
	<div class="welcome">欢迎{{doctorObj.name}}使用</div>
	<div class="imgButton" ng-click="gotoPage('pm')">
		<img src="img/prescription.png"></img>
		<span>我的处方</span>
	</div>
	<div class="imgButton" ng-click="gotoPage('password')">
		<img src="img/password.png"></img>
		<span>修改密码</span>
	</div>
	<div class="imgButton" ng-click="gotoPage('updateInfo')">
		<img src="img/personal.png"></img>
		<span>修改信息<span>
	</div>
	<div class="imgButton" ng-click="logout()">
		<img src="img/logout.png"></img>
		<span>退出登录</span>
	</div>
</div>
