<link rel="stylesheet" href="css/css/modifyPhone.css?ver={{cssVer}}">


<wheader title="变更手机号"></wheader>

<div class="con">

	<div class="hint">请输入登陆密码验证身份，进行手机号变更</div>

	<div class="weui-cells weui-cells_from">
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">登陆密码</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="password" ng-model="pwd" placeholder="请输入登陆密码"></input>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">新手机号</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="tel" maxlength="11" ng-model="phone" placeholder="请输入新手机号"></input>
			</div>
		</div>
	</div>
	
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" ng-click="modifyPhone(pwd, phone)">提交</a>
	</div>
	
</div>

