<link rel="stylesheet" href="css/css/signaturePad.css?ver={{cssVer}}">


<wheader title="电子签名"></wheader>

<div class="con">

	<signature-pad accept="accept" clear="clear" height="220" width="440" disabled="false"></signature-pad>
	
	<div class="weui-flex">
		<div class="weui-btn-area weui-flex__item">
			<a class="weui-btn weui-btn_warn" ng-click="clear()">清空</a>
		</div>
		<div class="weui-btn-area weui-flex__item">
			<a class="weui-btn weui-btn_primary" ng-click="ok()">确认</a></div>
		</div>
	</div>
</div>
