
<link rel="stylesheet" href="css/css/header.css?ver={{cssVer}}">
<link rel="stylesheet" href="css/css/updateInfo.css?ver={{cssVer}}">


<div class="header">
    <div class="header_back" ng-click="goBack()"><img class="header_back_img" src="img/icon_back.png"></img></div>
	<div class="header_title">完善信息</div>
</div>

<div class="con">

	<div class="row">
		<label>医生姓名：</label><input type="text" ng-model="doctorObj.name" placeholder="请输入姓名"></input>
	</div>
	
	<div class="row">
		<label>所属医院:</label><select ng-model="doctorObj.hospitalid" ng-options="x.id as x.name for x in hospitalList"></select>
	</div>
	
	<div class="row">
		<label>科室：</label><input type="text" ng-model="doctorObj.department" placeholder="请输入所在科室"></input>
	</div>
	<div class="row">
		<div class="signature_area" ng-click="openSignaturePad()">
			<!--span ng-if="signatureurl == null">点击输入手写签名</span-->
			<img src="{{doctorObj.signatureurl}}" alt="点击输入手写签名"></img>
		</div>
		
	</div>
	<div class="submit" ng-click="update()">提交</div>
	
</div>

