<link rel="stylesheet" href="css/css/updateInfo.css?ver={{cssVer}}">


<wheader title="完善信息"></wheader>

<div class="con">

	<div class="weui-cells weui-cells_from">
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">医生姓名</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" ng-model="doctorObj.name" placeholder="请输入姓名"></input>
			</div>
		</div>
		<div class="weui-cell weui-cell_select weui-cell_select-after">
			<div class="weui-cell__hd">
				<label class="weui-label">所属医院</label>
			</div>
			<div class="weui-cell__bd">
				<select class="weui-select" ng-model="doctorObj.hospitalid" ng-options="x.id as x.name for x in hospitalList"></select>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">科室</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" ng-model="doctorObj.department" placeholder="请输入所在科室"></input>
			</div>
		</div>
	</div>

	<div class="weui-cells__title">电子签名</div>
	<div class="signature_area" ng-click="openSignaturePad()">
		<!--span ng-if="signatureurl == null">点击输入手写签名</span-->
		<img ng-src="{{doctorObj.signatureurl}}" alt="点击输入手写签名"></img>
	</div>
	
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" ng-click="update()">提交</a>
	</div>
	
</div>

