* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f5;
}
.head {
  width: 100%;
  height: auto;
  overflow: auto;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(right, #0082bb, #1ae0c4);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #0082bb, #1ae0c4);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #0082bb, #1ae0c4);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #0082bb, #1ae0c4);
  /* 标准的语法 */
}
.head .logo {
  margin-left: 20px;
  padding: 20px 0;
  height: auto;
  line-height: 54px;
  color: #fff;
  font-size: 24px;
  float: left;
}
.head .logo img {
  display: inline-block;
  vertical-align: middle;
}
.head .goBack {
  width: 100px;
  height: 40px;
  margin-top: 25px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 40px;
  float: right;
  cursor: pointer;
}
.foot {
  width: 794px;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}
.foot p {
  color: #999;
}
.foot .next {
  position: relative;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  float: right;
  border-radius: 5px;
  cursor: pointer;
  right: 10px;
  margin-left: 20px;
  font-weight: 200;
  background: -webkit-linear-gradient(right, #12b5fd, #00d8e4);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #12b5fd, #00d8e4);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #12b5fd, #00d8e4);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #12b5fd, #00d8e4);
  /* 标准的语法 */
}
.con {
  /**width: 794px;*/
  margin: auto;
  height: auto;
  background-color: #fff;
  font-size: 16px;
}

.con div{
  text-align: -webkit-center;
  margin: 5 auto;
  padding: 10px;
}

.printinfo {
  /*display: none;*/
  width: 397px;
  margin: auto;
  border-top: 1px solid #000;
  height: auto;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
}

.printinfo .header{
	
}

.printinfo  .header .title {
   font-size: 24px;
   margin: 30 auto 10 auto;
}

.printinfo  .header div{
   font-size: 20px;
   margin: 2 auto 10 auto;
}

.printinfo  .header img{
   margin: 0 auto;
}

.printinfo .baseinfo {
	margin: 10 30px;
	height: 30px;
	font-size: 16px;
}

.printinfo  .baseinfo .leftcontent{
	float: left;
}

.printinfo  .baseinfo .rightcontent{
	float: right;
}

.printinfo  .info{
	margin: 15 30px;
	text-align: left;
	height: auto;
	font-size: 14px;
}

.printinfo  .info .storename{
	font-size: 16px;
	font-weight: bold;
}

.printinfo  .info div{
	margin: 2 auto
}

.printinfo  .info  .drugInfo{
	padding: 0 40 0 30px;
}

.printinfo  .info  .drugInfo table {
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 0;
}
.printinfo  .info  .drugInfo table td {
  /*border-top: 1px solid #d7e9f0;*/
  height: 20px;
  line-height: 20px;
}
.printinfo  .info  .drugInfo table tr:last-child td {
  /*border-bottom: 1px solid #d7e9f0;*/
}

.printinfo  .info .ls {
  width: 1em;
  display: inline-block;
}

.printinfo .foot{
	margin: 10 30px;
	text-align: -webkit-center;
	width: auto;
	padding: 0px;
	font-size: 12px;
}

.printinfo  .foot div{
	margin: 2 auto;
}